.event-detail-container {
    max-width: 600px; /* Adjust the maximum width to your preference */
    margin: 0 auto;
    padding: 20px; /* Reduced padding */
    background-color: #f8f8f8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    max-height: 80vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .event-details {
    font-size: 1.8rem; /* Slightly smaller title */
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .event-info {
    list-style-type: none;
    padding-left: 0;
  }
  
  .event-info li {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin-bottom: 15px; /* Reduced margin */
    color: #555;
  }
  
  .event-detail-heading {
    font-size: 1.1rem; /* Slightly smaller heading */
    font-weight: bold;
    width: 120px; /* Reduced width */
    flex-shrink: 0; /* Prevent the heading from shrinking */
    margin-right: 10px; /* Add some spacing between the heading and detail */
  }
  
  .event-detail {
    font-size: 1rem; /* Slightly smaller text */
    margin-left: 0; /* Reset the left margin */
    width: calc(100% - 130px); /* Adjust the width to leave space for the heading */
  }
  
  .event-image {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    margin-top: 20px; /* Reduced margin */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; /* Reduced margin */
  }
  
  .event-action-link,
  .event-action-button {
    font-size: 1rem;
    padding: 8px 16px; /* Reduced padding */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: bold;
  }
  
  .event-action-link {
    color: #007bff;
    background-color: transparent;
  }
  
  .event-action-button {
    color: #fff;
    background-color: #dc3545;
  }
  
  .event-action-link:hover {
    color: #0056b3;
  }
  
  .event-action-button:hover {
    background-color: #c82333;
  }
  
  .event-action-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px; /* Reduced margin */
  }
  